@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fuzzy+Bubbles:wght@400;700&family=Righteous&display=swap');

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Fuzzy Bubbles', cursive; */
/* font-family: 'Righteous', cursive; */

* {
    margin:0;
    padding:0;  
}

body {
    position: relative;
    font-family: Alata, sans-serif;
    min-height: 100vh;
    padding-bottom: 220px;
    background: url("../images/stripes-light.png") repeat center fixed;
}

.input-field,
 input, 
 .select-wrapper,
 textarea {
    font-family: Alata, sans-serif;;
}

nav {
    font-weight: bold;
    text-transform: uppercase;
}

nav .nav-wrapper a.icon-line-height{
    line-height: 55px;
}

.opacity-sidenav {
    opacity: 0.95;
}

.btn, .btn-latge {
    font-family:  Alata, sans-serif;
}

.search-bg {
    background-color: rgba(41, 41, 41, 0.514) !important;
    font-family: Alata, sans-serif;
    color: white;
}

.search-bar {
    width: 45%;
    position: absolute;
    right: 3%;
    top: 0;
}

.col.center-search-btn{
    padding-bottom: 10px;
}

.search-btn {
    font-size: 0.8rem !important;
}

.row.mobile-search-bar {
    margin-bottom: 0;
}

.row.main-section-margins {
    margin: 15px 0;
}

.profile-hmargin {
    margin: 0 0 15px;
}

h4.section-hmargin {
    margin: 0;
}

.row.main-section-headin-margins {
    margin: 15px 0;
}

.bolder-text-part {
    font-family: Righteous, cursive;
}

.lighter-text-part {
    font-family: Fuzzy Bubbles, cursive;
}

.col.text-contrast {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 5px;
    margin-top: 6vh;
}

p.big-text {
    font-size: 1.2rem;
}

.col.text-contrast h2 {
    margin: 0 0 20px;
}

.col.text-contrast .create-acc {
    margin-top: 20px;
}

.btn-large.btn-red:hover,
.btn-large.btn-red:focus,
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn-small.btn-red:hover,
.btn-small.btn-red:focus {
    background-color: #ff8a80 !important;
}

a.btn-large.btn-red {
    margin: 10px;
}

p.price-tag {
    font-size: 16px;
    font-weight: bold;
}

.image-holder {
    background-image: url("../images/bg-image.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.responsive-img.recipe_details {
    padding: 20px 0;
}


.image-title-holder.tools {
    background-image: url("../images/kitchen_bg.jpg");
}

.image-title-holder.recipes {
    background-image: url("../images/recipe_bg.jpg");
}

.image-title-holder {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card.categories {
    padding: 5px;
    margin: 5px 0;
}


footer {
    /* padding: 25px 0 0; */
    width: 100%;
    position: absolute;
    bottom: 0;
}

ul.follow-us-list {
    padding-top: 15px;
    text-align: center;
}

ul.follow-us-list li {
    display: inline;
    font-size: 30px;
    padding-right: 10px;
}

ul.follow-us-list li i {
    transition: .2s ease-in-out 0s
}

ul.follow-us-list li i:hover,
ul.follow-us-list li i:focus {
    transform: scale(1.25);
}

.footer-join {
    min-height: 30px;
    background-color: #f44336;
    justify-content: center;
}
.email-link a:hover,
.email-link a:focus,
.footer-join a:hover,
.footer-join a:focus {
    text-decoration: underline;
    font-weight: 600;
}

.bcrumbs a:hover,
.bcrumbs a:focus {
    text-decoration: underline;  
}
.nav-wrapper.bcrumbs a:hover,
.nav-wrapper.bcrumbs a:focus {
    text-decoration: underline;
}

.m0 {
    margin: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin:10px 0;
}

.col.category-btn-padding {
    padding: 3px 3px;
}

.title-font,
.recipe-title {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px 15px 0;
}

.ingr_input_cont > .input-field {
    margin: 0;
}

li.ingredient-list,
li.method-list {
    padding: 0 0 5px;
}

.recipe-title {
    padding: 20px 0;
}

.recipe_edit_del_cont{
    padding-bottom: 10px;
}

.card .card-action {
    border-bottom: 1px solid rgba(51, 105, 30, 0.5);
    border-top: none;
    padding: 5px 0;
}

.card-action.small-padding {
    padding: 5px 10px;
}

.card.small .card-image {
    max-height: 70%;
}

.card.small.kitchen_tool-card .card-image {
    max-height: 65%;
}

/* .card.small .card-image+.card-content {
    max-height: 45%;
} */

.card.horizontal {
    padding: 5px;
    height: auto;
}

.row.rm-bottom-gap {
    margin-bottom: 0px;
}


.card-content.card-footer {
    padding: 10px 24px;
}

.card.small.responsive-size {
    height:200px;
}


.card.small.responsive-size-profile {
    height: 280px;
}

.card.small.responsive-size .card-content,
.card.small.responsive-size-profile .card-content {
    padding: 5px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-btn {
    padding-top: 10px;
}

.card-content.short-desc {
    padding: 10px 24px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.current_img {
    display: none;
    max-width: 150px;
    height: auto;
}

.move-btn-up {
    margin-top: -55px;
}

.page-footer {
    padding-top: 0px;
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        padding-bottom: 460px;
    }

    .image-title-holder {
        height: 75px;
    }

    /* .card.small.responsive-size {
        height:220px;
    }

    .card.small.responsive-size-profile {
        height: 280px;
    }
    
    .card.small.responsive-size .card-content,
    .card.small.responsive-size-profile .card-content {
        padding: 5px;
    } */

    .section-hmargin {
        font-size: 20px;
    }

    .search-bar {
        width: 100%;
        right: 0;
    }

    .image-holder {
        height: 100vh;
    }

    .col.small-screen {
        padding: 0;
    }

    .image-container {
        height: 40px;
        overflow-y: hidden;
    }

    /* .card.small .card-image {
        max-height: 70%;
    } */

    .image-container img {
        width: 100%;
        height: auto;
        position: relative;
        top: -100px;
    }
    .card-content.short-desc {
        min-height: 75px;
    }

    .image-container-medium {
        display: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 993px) and (orientation: portrait) {
    body {
        padding-bottom: 425px;
    }

    /* .card.small .card-image {
        max-height: 70%;
    } */
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
    p.big-text {
        font-size: 1rem;
    }
    
    .col.text-contrast h2 {
        margin: 0 0 10px;
        font-size: 2rem;
    }

}

@media only screen and (max-width: 993px) and (orientation: landscape) {
    body {
        padding-bottom: 390px;
    }

    .image-holder {
        height: 100vh;
    }

    .search-bar {
        width: 100%;
    }

    /* .card.small .card-image {
        max-height: 70%;
    } */

}

@media only screen and (min-width: 600px){
    .image-container {
        display: none;
    }
}

@media only screen and (min-width: 993px){
    .image-container {
        display: none;
    }
}

@media only screen and (min-width: 1150px){
    .image-container-medium img.responsive-img {
        max-height: 170px;
    }
}