* {
    margin:0;
    padding:0;  
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 240px;
    background: url("../images/stripes-light.png") repeat center fixed;
}

.image-holder {
    background-image: url("../images/bg-image.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    /* padding: 25px 0 0; */
    width: 100%;
    position: absolute;
    bottom: 0;
}

.m0 {
    margin: 0;
}

.mb0 {
    margin-bottom: 0;
}

.recipe_edit_del_cont{
    padding-bottom: 10px;
}

.card .card-action {
    border-bottom: 1px solid rgba(51, 105, 30, 0.5);
    border-top: none;
}

.card.horizontal {
    padding: 5px;
    height: auto;
}

.row.rm-bottom-gap {
    margin-bottom: 0px;
}


.card-content.card-footer {
    padding: 10px 24px;
}

.card.small.responsive-size {
    height: 250px;
}

.card.small.responsive-size-profile {
    height: 280px;
}

.card.small.responsive-size .card-content,
.card.small.responsive-size-profile .card-content {
    padding: 10px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-btn {
    padding-top: 10px;
}

.card-content.short-desc {
    padding: 10px 24px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.current_img {
    display: none;
    max-width: 150px;
    height: auto;
}

.move-btn-up {
    margin-top: -80px;
}

.page-footer {
    padding-top: 0px;
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
    .col.small-screen {
        padding: 0;
    }

    .image-container {
        height: 40px;
        overflow-y: hidden;
    }

    .card .card-action {
        padding: 12px;
    }

    .image-container img {
        width: 100%;
        height: auto;
        position: relative;
        top: -100px;
    }
    .card-content.short-desc {
        min-height: 75px;
    }

    .image-container-medium {
        display: none;
    }
}

@media only screen and (min-width: 600px){
    .image-container {
        display: none;
    }
}

@media only screen and (min-width: 1150px){
    .image-container-medium img.responsive-img {
        max-height: 170px;
    }
}