<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>CookBook</title>
</head>

<body>

    <header>
        <!--Large screen top navbar-->
        <nav class="nav-extended red darken-1 ">
            <div class="nav-wrapper container">
                <a href="{{ url_for('get_latest') }}" class="brand-logo"><span class="bolder-text-part">Cook</span><span
                        class="lighter-text-part ">Book</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_latest') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipe') }}">Recipes</a></li>
                    <li><a href="{{ url_for('get_product_list') }}">Kitchen Tools</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                    <li><a class="icon-line-height" href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i></a>
                    </li>
                    <li><a class="icon-line-height" href="{{ url_for('logout') }}"><i class="fas fa-door-open"></i></a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--Small Mobile device navbar-->
        <ul class="sidenav opacity-sidenav" id="mobile-demo">
            <h4 class="center-align grey-text text-darken-4"><span class="bolder-text-part red-text">Cook</span><span
                    class="lighter-text-part ">Book</span></h4>
            <li class="show-on-medium-and-down">
                <form action="{{ url_for('search')}}" method="post">
                    <div class="row valign-wrapper center-align mobile-search-bar">
                        <div class="input-field col s9">
                            <input type="text" name="requests" id="requests" minlength="3" class="validate" required>
                            <label for="requests">Search</label>
                        </div>
                        <div class="col s3">
                            <button type="submit" class="red darken-1 btn-red btn text-shadow">
                                <i class="fas fa-search prefix"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
            <li><a href="{{ url_for('get_latest') }}">Home</a></li>
            <li><a href="{{ url_for('get_recipe') }}">Recipes</a></li>
            <li><a href="{{ url_for('get_product_list') }}">Kitchen Tools</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">{{session.user.capitalize()}}</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        {% block hero_img %}
        {% endblock %}
    </section>
    <section>
        {% block title_img %}
        {% endblock %}
    </section>
    <!--Section for the messages-->
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4 class=" light-green lighten-5 center-align">{{message}}</h4>
        {% endfor %}
        {% endif%}
        {% endwith %}
    </section>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="red darken-1">
        {% if not session.user %}
            <div class="valign-wrapper footer-join">
                <a href="{{ url_for('register')}}" class="white-text">
                    <i class="fas fa-heart"></i>
                    Join Us Now By Creating Your Account
                </a>
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text center">About Us</h5>
                    <div class="divider"></div>
                    <p class="white-text">
                        Explore our collection of delicious recipe ideas including: Easy made recipes,
                        Vegan and Vegetarian ideas, Soup recipes, Salads and much more...
                    </p>
                    {% if not session.user %}
                    {% endif %}
                </div>
                <div class="col l4 s12 white-text">
                    <h5 class="center">Need Help?</h5>
                    <div class="divider"></div>
                    <p class="grey-text text-lighten-4">Contact Us via phone or email:</p>
                    <p><i class="fas fa-phone-alt prefix"></i> +555-555555555</p>
                    <p class="email-link"><i class="fas fa-at prefix"></i><a href = "mailto: info@cookbook.com" class="white-text">info@cookbook.com</a></p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text center">Follow Us</h5>
                    <div class="divider"></div>
                    <ul class="follow-us-list">
                        <li>
                            <a class="white-text" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://www.google.com/account/about/?hl=lt"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://www.pinterest.ie/"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="container center white-text">
                <div class="divider"></div>
                &#169 
                <span>
                    <script>document.write(/\d{4}/.exec(Date())[0])</script>
                </span> 
                CookBook, All content used only for learning puorpose.
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>