{% extends "base.html" %}
{% block content %}
    {% if session.user %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3>Manage products here</h3>
            </div>
            <a href="{{ url_for('add_item') }}" class="btn-large waves-effect waves-light">
                Add more Items <i class="fas fa-file right"></i></a>
        </div>
    </div>
    <ul class="collapsible">
        {% for item in kitchen_tools %}
            <li>
                <div class="collapsible-header">
                    <span class="left-align">{{item.product_name}} -<strong> {{item.price}} euro</strong></span>
                </div>
                <div class="row collapsible-body">
                    <div class="col s3">
                        <img class="responsive-img" src="{{item.product_image }}" alt="{{item.product_name}}">
                    </div>
                    <div class="col s9">
                        <p class="left-align">{{item.description}}</p>
                        <div>
                            <span class="edit-btn">
                                <a href="{{ url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn-small"><i class="fas fa-edit"></i> Edit</a>
                            </span>
                            <span>
                                <a href="#modal1" class="waves-effect waves-light btn-small red darken-1 modal-trigger "><i class="fas fa-times-circle"></i> Delete</a>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_item', item_id=item._id)}}" class="modal-close waves-effect waves-green btn-flat">Yes remove this Item</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                </div>
            </div>
        
        {% endfor %}
    </ul>
    {% else %}
        <div>
            <strong>You need to Log In</strong>
        </div>
    {% endif %}

{% endblock %}