{% extends "base.html" %}
{% block content %}
<div class="row mb1">
    <div class="col s4 m3">
        <img class="responsive-img" src="../static/images/avatar-bg.png" alt="avatar-image"><br />
    </div>
    <div class="col s8 m9">
        <h4 class="section-hmargin">Personal information</h4>
        <p>Username : {{username.capitalize()}}
            {% if is_admin %}
            <span class="red-text">ADMIN</span>
            {% endif %}
        </p>
        <p>Account created on: {{creation_date}}</p>
        {% if is_admin %}
        <p>Items in the shop: {{count_items}}</p>
        {% endif %}
        <p>Total recipes on the page: {{count_recipes}}</p>
        <p>Recipes created by you: {{count_recip}}</p>
    </div>
</div>
<div class="row mb1 bcrumbs">
    <h5 class="section-hmargin">Your total recipes: {{count_recip}}
        <a href="{{ url_for('add_recipe') }}" class="right black-text"> <i class="fas fa-plus red-text"></i></i> ADD
            RECIPE</a>
    </h5>
    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
                <span class="left-align">{{recipe.recipe_name}} / Recipe category -- {{recipe.category_name}}</span>
            </div>
            <div class="row collapsible-body">
                <div class="col s12 m3">
                    <img class="responsive-img" src="{{ url_for('display_image', filename=recipe.recipe_image) }}"
                        alt="{{recipe.recipe_name}}">
                </div>
                <div class="col s12 m9">
                    <p class="left-align">{{recipe.recipe_description}}</p>
                    <div>
                        <span class="edit-btn">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}"
                                class="red waves-effect waves-light btn-red darken-1 btn-small"><i class="fas fa-edit"></i> EDIT</a>
                        </span>
                        <span>
                            <a href="#modal1" class="btn-small waves-effect waves-light btn-red red darken-1 modal-trigger "><i
                                    class="fas fa-times-circle"></i> DELETE</a>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}"
                    class="modal-close waves-effect waves-green btn-flat">Yes remove this Item</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% if is_admin %}
<div class="row mb1 bcrumbs">
    <h5 class="section-hmargin">
        Total Items: {{count_items}}  
        <a href="{{ url_for('add_item') }}" class="right black-text"> <i class="fas fa-plus red-text"></i> ADD ITEM</a>
    </h5>
    <ul class="collapsible">
        {% for item in kitchen_tools %}
        <li>
            <div class="collapsible-header">
                <span class="left-align">{{item.product_name}} -<strong> {{item.price}} euro</strong></span>
            </div>
            <div class="row collapsible-body">
                <div class="col s3">
                    <img class="responsive-img" src="{{item.product_image }}" alt="{{item.product_name}}">
                </div>
                <div class="col s9">
                    <p class="left-align">{{item.description}}</p>
                    <div> 
                        <span class="edit-btn">
                            <a href="{{ url_for('edit_item', item_id=item._id)}}"
                                class="btn-small waves-effect waves-light btn-red red darken-1"><i class="fas fa-edit"></i> Edit</a>
                        </span>
                        <span>
                            <a href="#modal1" class="btn-small waves-effect waves-light btn-red red darken-1 modal-trigger "><i
                                    class="fas fa-times-circle"></i> Delete</a>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_item', item_id=item._id)}}"
                    class="modal-close waves-effect waves-green btn-flat">Yes remove this Item</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>

        {% endfor %}
    </ul>
</div>

{% endif %}




{% endblock %}