{% extends "base.html" %}
{% block content %}

    <h2 class="header">All recipes</h2>
    {% for recipe in recipes %}
        <div class="card horizontal">
            <div class="row rm-bottom-gap valign-wrapper">
                <div class="col m9 small-screen">
                    <div class="card-stacked">
                        <div class="card-action">
                            <strong>{{recipe.recipe_name}}</strong>
                        </div>
                        <div class="card-content short-desc">
                            {{recipe.recipe_description}}
                        </div>
                        <div class="card-content card-footer">
                            <i class="far fa-clock"></i>
                            <strong>{{recipe.prep_time + recipe.cook_time}}</strong>&emsp;
                            <i class="fas fa-utensil-spoon"></i>
                            <strong>{{recipe.category_name}}</strong>

                        </div>
                    </div>
                </div>
                <div class="image-container col m3 small-screen center-align">
                    <img class="responsive-img" width="180" height="180" 
                        src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/winter-soup-65c837b.jpg?quality=90&webp=true&resize=300,272">
                </div>
            </div>
        </div>  
    {% endfor %}

{% endblock %}