{% extends "base.html" %}
{% block content %}

    <h2 class="header">All recipes</h2>
    {% for recipe in recipes %}
        <div class="card horizontal">
            <div class="row rm-bottom-gap valign-wrapper">
                <div class="col m9 small-screen">
                    <div class="card-stacked">
                        <div class="card-action">
                            <div class="image-container small-screen center-align">
                                <img class="responsive-img" src="{{ url_for('display_image', filename=recipe.recipe_image) }}" alt="{{recipe.recipe_image}}"><br />
                                {% if recipe.recipe_image not in recipe_images %}
                                <p>Nera tokio paveiksliuko</p>
                                {% endif %}
                            </div>
                            <p class="left">
                                <strong>{{recipe.recipe_name}}</strong>
                            </p>
                        </div>
                        <div class="card-content short-desc">
                            {{recipe.recipe_description}}
                        </div>
                        <div class="card-content card-footer">
                            <i class="far fa-clock"></i>
                            <strong>{{recipe.prep_time + recipe.cook_time}}</strong>&emsp;
                            <i class="fas fa-utensil-spoon"></i>
                            <strong>{{recipe.category_name}}</strong>&emsp;
                            <i class="fas fa-user"></i>
                            <em> by: {{recipe.recipe_by}}</em>
                        </div>
                    </div>
                </div>
                    <div class="image-container-medium col m3 small-screen center-align">
                        <img class="responsive-img" src="{{ url_for('display_image', filename=recipe.recipe_image) }}" alt="{{recipe.recipe_image}}">
                        {% if recipe.recipe_image not in recipe_images %}
                            <p>Nera tokio paveiksliuko</p>
                        {% endif %}
                    </div>
            </div>
        </div>  
    {% endfor %}

{% endblock %}