{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Joining CookBook community</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register')}}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils amber-text text-lighten-1 prefix"></i>
                    <input id="username" minlength="5" maxlength="15" name="username" type="text" class="validate"
                        pattern="^[a-zA-Z0-9]{5,20}$" title="Username has to be between 5 - 20 characters long"
                        required>
                    <label for="username">Cook Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key amber-text text-lighten-1 prefix"></i>
                    <input id="password" minlength="5" name="password" type="password" class="validate"
                        pattern="^[a-zA-Z0-9]{6,}$" title="Must contain at least 6 or more characters" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key amber-text text-lighten-1 prefix"></i>
                    <input id="repeat-password" minlength="5" name="repeat-password" type="password" class="validate"
                        pattern="^[a-zA-Z0-9]{6,}$" title="Must contain at least 6 or more characters" required>
                    <label for="repeat-password">Repeat Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class=" col s12 btn-large light-green">
                    Create Account
                </button>
            </div>
    </form>
</div>
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Have Account? <a href="#" class="grey-text text-darken-4">Log In</a>
        </p>
    </div>
</div>

{% endblock %}