{% extends "base.html" %}
{% block content %}

    <h2 class="header">All kitchen gadgets</h2>
    <div class="row rm-bottom-gap">
        {% for item in kitchen_tools %}
            <div class="col s6 m3">
                <div class="card small responsive-size-profile hoverable">
                    <div class="card-image">
                        <img class="responsive-img" src="{{item.product_image }} alt="{{item.product_name}}">
                    </div>
                    <div class="card-content center-align recipe_edit_del_cont">
                        <span class="truncate left-align">{{item.product_name}}</span>
                        <strong><p class="left-align">{{item.price}}</p></strong>
                        <div class="edit-btn">
                            <a href="#" class="waves-effect orange waves-light btn-small"><i class="fas fa-edit"></i> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}